body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#message-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px; /* Zvětšený padding pro větší mezery */
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px; /* Větší mezera pod panelu zpráv */
}

#messages {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%; /* 50% šířka, aby byl od krajů obrazovky 25% */
    margin: 0 25%; /* 25% mezera zleva a zprava */
    padding: 20px; /* Zvětšený padding pro větší mezery mezi boxy */
    max-height: 70vh; /* Maximální výška na 70% výšky obrazovky */
    overflow-y: scroll; /* Přidá posuvník, když obsah přesahuje maximální výšku */
}


.message-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #fff;
}

p {
    margin: 0;
    padding: 5px;
}

#message {
    width: 80%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px; /* Větší mezera pod textovým polem */
}

#send {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px; /* Větší mezera pod tlačítkem "Odeslat" */
}

#send:hover {
    background-color: #0056b3;
}

#connection-status {
    color: red;
    animation: blinker 1s linear infinite;
    font-weight: bold;
}

#connected {
    color: green;
    font-weight: bold;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Media query pro mobilní zařízení */
@media (max-width: 600px) {
    #message-panel {
        width: 100%; /* Na menších obrazovkách naplno rozšíříme */
    }

    #messages {
        width: 90%; /* Na menších obrazovkách zvětšíme na 90% */
        margin: 0 5%; /* Mezera od krajů bude menší */
    }

    #send {
        width: 50%; /* Tlačítko "Odeslat" na 50% šířky */
    }
}
